*{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;

}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;


}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea, .contact form select{
  width:90%;
  padding:0.5em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper, .geomap{
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand, .geomap{
    text-align: left;
  }
}















.header {
  text-align: center;
  padding-top: 50px;
}

.header h1,
.header h4 {
  font-weight: normal;
  margin: 10px 0;
}

.header img {
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.1);
}






























#map {
  height: 970px;
  width: 100%;
}
 
  .input-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  #searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
  }
  #searchInput:focus {
    border-color: #4d90fe;
  }

  #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 20px;
      padding-left: 10px;
      height: 32px;
    }







    #checkboxes { 
position: absolute; 
top: 50px; 
right: 10px;
font-family: 'arial', 'sans-serif'; 
font-size: 14px;
background-color: white;
border: 1px solid black;
padding: 10px 10px 0px 10px;
}






#hola01{
  width: 135px;
  height: 200px;
  background-color: #222;
  border-style: solid;
  border-color:#222;
  border-radius: 20px;
  color: #eee;
  padding: 0 2.0em;
  bottom: 15px;
  left: 10px;
}


#skybox3 {
  width: 150px;
  height: 160px;
  background-color: rgb(232, 231, 235);
  border-style: solid;
  border-color:#222;
  border-radius: 20px;
  color: rgb(15, 14, 14);
  padding: 0 1.4em;
  position: absolute;
  z-index: 100;
  left: 10px;
}

.color {
  border: 1px solid;
  border-color:#222;
  height: 20px;
  width: 20px;
  margin-right: 0.2em;
  float: left;
}
.blue {
  background: #cfe2f3;
}
.yellow {
  background: #ffff00;
}


.pink {
  background: #ea9999;
}
.green {
  background: #6aa84f;
}
.gray {
  background: #808080;
}
.red {
  background: #FF5733;
}





#info-box {
      background-color: white;
      border: 1px solid black;
      width: 50px;
  height: 40px;
      padding: 15px;
      position: absolute;
      left: 30px;
    }

    #info-box1 {
      background-color: white;
      border: 1px solid black;
      width: 50px;
  height: 40px;
      padding: 15px;
      position: absolute;
      left: 30px;
    }



















   

#loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid blue;
border-bottom: 16px solid blue;
width: 60px;
height: 60px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
visibility:hidden;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}



















